---
layout: archive
---
<div style="font-size: large;">
  <p style="font-size: large;">Hi there! I’m <b>Hang Yu</b> (禹杭), a M.S. student in Computer Science at the University of Illinois Urbana-Champaign (UIUC) advised by Prof. <a href="https://yxw.cs.illinois.edu/">Yuxiong Wang</a>. Before that, I got my M.S. in Civil Engineering from <a href="https://illinois.edu/">UIUC</a> and B.S. from <a href="https://www.zju.edu.cn/english/">Zhejiang University</a>.</p> 

  <p>My research lies in AI for healthcare, multi-modal learning, and long-tailed recognition. For my latest publications, please check my <a href="https://scholar.google.com/citations?user=-AuCAlkAAAAJ&hl=en">Google Scholar</a>.</p>
</div>


<h1 class="archive__subtitle">Education</h1>
<ul class="list__item" style="font-size: large;">
  <li>
    <b>University of Illinois at Urbana-Champaign</b>
    <ul style="font-size: medium;">
      <li> M.S. in Computer Science, 2022 - Present; Advisor: Prof. <a href="https://yxw.cs.illinois.edu/">Yuxiong Wang</a></li>
      <li> M.S. in Civil Engineering, 2019 - 2021; Advisor: Prof. <a href="https://cee.illinois.edu/directory/profile/yfouyang">Yanfeng Ouyang</a></li>
      <li> GPA: 3.88/4.0</li>
    </ul>
  </li>
  <li>
    <b> Zhejiang University </b>
    <ul style="font-size: medium;">
      <li> B.S. in Civil Engineering, 2016 - 2020; Advisor: Prof. <a href="https://scholar.google.com/citations?user=pf7PiB0AAAAJ&hl=zh-CN">Sheng Jin</a></li>
      <li> GPA: 3.71/4.0</li>
    </ul>
  </li>
</ul>

<h1 class="archive__subtitle"> Publications</h1>
<ul class="list__item" style="font-size: large;">
  <li>
    <b>Non-Invasive Pressure Sensing Mat for Periodic Limb Movements Detection</b> <br>
    Hang Yu, Yunze Man, Kyle Formella, Melissa Close, John Farmer, sasikanth gorantla, Yu-Xiong Wang <br>
    <b style="font-size: medium;"> Under Review </b>
  </li>
  <li>
    <b> Rethinking Task Sampling for Few-shot Vision-Language Transfer Learning</b> [<a href="https://aclanthology.org/2022.mmmpie-1.2.pdf">Paper</a>]<br>
    Zhenhailong Wang, Hang Yu, Manling Li, Han Zhao, Heng Ji<br>
    <b style="font-size: medium;">COLING2022 MMMPIE Workshop</b>
  </li>
  <li>
    <b> Survey of Query-Based Text Summarization </b> [<a href="https://arxiv.org/pdf/2211.11548">Paper</a>] <br>
    Hang Yu, Jiawei Han <br>
    <i>arxiv.org</i>
  </li>
</ul>

<!-- <h1 class="archive__subtitle"> Projects</h1>
 Jul. 2023 - Sep. 2024
Web application with deep learning model deployment — Pytorch, React.js, PostgreSQL, FastAPI
• Led a cross-functional machine learning research project with good communication skills and growth
mindset in partnership with OSF Healthcare, under the guidance of Prof. Yuxiong Wang.
• Applied computer vision research techniques to investigate a new modality of data input (pressure sensing
mat data) and developed pipeline to collect ground truth labels from EMG data.
• Developed a deep learning model with 50.61 F1 score for periodical leg movements (PLMs) detection, a
crucial index for restless leg syndrome (RLS) diagnosis, and submitted the work to conference WACV 2025.
• Built the web application using React.js for front end, FastAPI for the backend, and PostgreSQL for data
storage. Kubernetes is used to handle multiple users’ large queries.
• Our research and application is adopted by OSF which enables the collection and analysis of patient data
within the comfort of their home environments with fast potential RLS diagnosis for 2000+ patients.
<ul class="list__item" style="font-size: large;">
  <li>
    <b>Open Source Non-Wearable Restless Leg Syndrome Monitoring Application</b> <br>
    Hang Yu, Yunze Man, Kyle Formella, Melissa Close, John Farmer, sasikanth gorantla, Yu-Xiong Wang <br>
    <b style="font-size: medium;"> Under Review </b>
  </li>
  <li>
    <b> Rethinking Task Sampling for Few-shot Vision-Language Transfer Learning</b> [<a href="https://aclanthology.org/2022.mmmpie-1.2.pdf">Paper</a>]<br>
    Zhenhailong Wang, Hang Yu, Manling Li, Han Zhao, Heng Ji<br>
    <b style="font-size: medium;">COLING2022 MMMPIE Workshop</b>
  </li>
  <li>
    <b> Survey of Query-Based Text Summarization </b> [<a href="https://arxiv.org/pdf/2211.11548">Paper</a>] <br>
    Hang Yu, Jiawei Han <br>
    <i>arxiv.org</i>
  </li>
</ul> -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{{ content }}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
